.container {
    margin-left: 28%;
    margin-right: 25%;
}

.title {
    text-align: center;
}

.posts {
    text-decoration: none;
    color: rgb(0, 94, 255);
}
.posts:hover {
    color: rgb(227, 0, 64);
}
li {
    margin-bottom: 10px;
}
